body {
  max-width: 850px;
  margin: 0 auto;
  padding: 0;
  position: fixed;
  width: 100%;
}

* {
  font-family: "Gill Sans", sans-serif;
  box-sizing: border-box;
}

#impressumButton,
#infoButton {
  position: absolute;
  font-size: 1.8vh;
  top: 0.2em;
  padding: 0.4em;
  z-index: 5;
}

#infoButton {
  left: 0;
}

#impressumButton {
  right: 0;
}

table {
  border: none;
  text-align: left;
}

#privacy {
  text-align: center;
  font-size: 2vh;
  z-index: 6;
  padding: 0;
  position: absolute;
  top: 50vh;
  height: 20vh;
  padding: 3em;
  background: #eeee;
  width: 100%;
}

#impressum,
#infoField {
  text-align: center;
  display: none;
  position: absolute;
  font-size: 2vh;
  top: 2vh;
  width: 80%;
  left: 50%;
  z-index: 6;
  padding: 3em;
  background: #eeee;
  transform: translate(-50%, 0%);
}

.infoHint{
  text-align: right;
  margin-bottom: 0;
  font-size: 0.7em;
}

h1 {
  color: black;
  text-shadow: -1px 1px 0 #aaa,
    1px 1px 0 #aaa,
    1px -1px 0 #aaa,
    -1px -1px 0 #aaa;
  margin: 0;
  text-align: center;
  line-height: 0.8em;
}

.row {
  margin: 0;
}

#header {
  background-image: url('placeholder.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;
  color: white;
  height: 70vh;
  font-size: 30px;
  padding: 2vh 6%;
  z-index: 0;
  position: sticky;
  top: 0;
}

.info {
  height: 25%;
}

.cont h4,
.cont p,
.cont a {
  color: black;
  font-size: 1.90vh;
  margin: 0;
  padding: 0;
  white-space: nowrap;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

.column1 {
  float: left;
  width: 66%;
  padding: 5px;
}

.column2 {
  float: left;
  width: 34%;
  padding: 5px;
}

.cont {
  overflow: hidden;
  width: 100%;
  height: 20vh;
  margin: 1vh 1%;
  object-fit: cover;
  padding-top: 0.2em;
}

h1 img{
  width: 90%;
  margin-bottom: -0.3em;
}

.column1 .cont {
  background: #eee9;
  border-radius: 0 2em 0 2em;  
}

.cont img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}
#tries{
  height:fit-content;
  padding-bottom: 1vh;
}
#eu {
  background-image: url('eu.svg');
}

#de {
  background-image: url('de.svg');
}

#nowEU, #nowDE{
  font-size: 30px;
  z-index:20;
  position: absolute;
  left:10%;
  width:80%;
  top:85vh;
}
.badge {
  font-size: 0.3em;
  border: 1px solid #aaa;
  display: inline-block;
  border-radius: 50%;
  width: 38%;
  /* margin: 0 5%; */
  background-size: contain;
  background-position: center;
}

h2 .badge {
  font-size: 18px;
  line-height: 45px;
  color: white;
  text-align: center;
}

.playNow{
  font-size: 0.3em;
  text-shadow: none;  
}

#inputArea {
  padding: 2%;
  width: 100%;
  height: 5em;
  text-align: center;
}

#inputArea input {
  font-size: 2.5vh;  
  width: calc(100% - 7em);
}
#firework{
  z-index:10;
  position:absolute;  
  width: 100%;
  height:40vh;
  top:60vh;
  left:0;
}

#inputArea label,
#inputArea button {
  font-size: 2.5vh;
}

.arrow {
  height: 1em;
  width: 1em;
  margin: 0 0.2em -0.2em 0.2em;
}

.lost {
  color: red;
}

.won {
  color: green;
}

#proposal {
  font-size: 1.3em;  
  margin: 0.2em;
}

.pLine {
  font-size: 3vh;
  margin: 0.1em;
  width: 100%;
  background: #eee9;
  border: 1px solid #eee9;
}